.bloqueGeneral {
  background-image: url(/src/assets/img/senas.png);
  background-size: 16%;
}

.planAprendizaje {
  background: #08A1DF;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 510px;
  overflow: auto;
  box-sizing: border-box;
  text-align: start;
  width: 60%;
  height: 260px;
  border-radius: 20px;

  padding: 10px;
  position: relative;
  left: 21%;
  top: 330px;
}

.imgPlan {
  width: 30%;
  height: 80%;
  margin: 3px;
  align-items: center;
}

.sobreNosotros {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  justify-content: center;
  width: 36%;
  height: 110px;
  bottom: 20px;
  left: 35%;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

@media screen and (min-width: 1441px) {
  .planAprendizaje {
    margin-bottom: 510px;
    height: 400px;
    left: 21%;
    top: 615px;
  }

  .sobreNosotros {
    color: #212353;
    top: 300px;
  }

  .planAprendizaje h3 {
    font-size: 3rem;
  }
  .planAprendizaje p {
    font-size: 1.5rem;
  }
  .sobreNosotros h4 {
    font-size: 2rem;
  }
  .sobreNosotros p {
    font-size: 1.5rem;

  }
}