.beneficios img {
    position: relative;
    top: 35%;
    width: 50%;
    height: 50%;
    left: 5%;
}

.beneficios {
    background-image: url(/src/assets/img/senas.png);
}

.beneficios2 {
    width: 80vw;
    border-radius: 30px;
}

.primer,
.segundo {
    position: relative;
    left: -2%;
    display: flex;
    margin: 2%;
    margin-top: 0%;
    margin-bottom: 0px;
}


.a,
.aa {
    display: flex;
    width: 45%;
    margin: 1%;
}

.equipo,
.problematica {
    width: 90%;
    padding: 30px;
    border-radius: 30px;
}

.aprende,
.acceso {
    width: 100%;
    padding: 30px;
    border-radius: 30px;
}

.equipo {
    background-color: #91c1f73c;
    color: rgb(33, 34, 56)
}


.acceso {
    background-color: #d8e2e69d;
    color: rgb(33, 34, 56);
}


.problematica {
    background-color: #8c8c8c2f;
    color: rgb(33, 34, 56);
}

.aprende {
    background-color: #dfd8e676;
    color: rgb(33, 34, 56);
}

.beneficios h5 {
    font-family: 'Cuprum', sans-serif;
}

.beneficios p {
    font-family: 'Montserrat', sans-serif;
    font-size: small;

}

@media screen and (min-width: 1441px) {
    .primer,
.segundo {
    left: -2%;
}

.beneficios {
    padding-top: 350px;
}

.beneficios img {
    position: relative;
    top: 35%;
    width: 40%;
    height: 65%;
    left: 5%;
}

.beneficios2 h5 {
    font-size: 1.5rem;
}
.beneficios2 p {
    font-size: 1.2rem;

}
}