.cuerpologin {
  background: rgba(37, 162, 213, 255);
  display: flex;
  flex-wrap: nowrap;
  height: 290px;
}

.login {
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  margin-block: 40px;
  margin-bottom: 350px;
  left: -2%;
  box-sizing: border-box;
  width: 32%;
  height: 165%;
  align-items: center;
  background: #ffffff;
  border: 1px solid #25a2d5;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 580;
  font-size: 21px;
  line-height: 29px;
  text-align: center;
  padding: 2px;
  color: rgb(52, 100, 139);
}

.contenedorImg {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 10%;
  border: 1px solid #60c3eb;
  margin: 30px;
  width: 70%;
  height: 29%;
  background-color: rgba(211, 236, 247, 255);
}

.imgMapache {
  position: relative;
  top: 20%;
  left: 8%;
  width: 40%;
  height: 180%;
}

.buttonRegistro {
  margin-bottom: 15px;
}

.login a {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

@media screen and (min-width: 1441px) {
  .imgMapache {
    top: 30%;
    left: 8%;
    width: 40%;
    height: 190%;
  }
  .login {
    width: 35%;
    height: 70vh;
    left: -2%;
    top: 15%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .cuerpologin {
    height: 40vh;
  }

  .contenedorImg {
    margin-bottom: 65px;
  }

  .login p {
    font-size: 1.8rem;
  }
  .botonesLoginHome {
    margin-top: 90px;
  }
}

