body {
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
  position: relative;
}
footer {
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 80px;
  bottom: 0;
  width: 100%;
  color: rgb(31, 42, 119);
  padding: 5px;
}
