
.logrosDisplay {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logrosFondo {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 50px;
    border-radius: 10px;
    background-color: rgba(37,162,213, 0.4);
}
.logrosFondo2 {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-top: 20px;

}

.cardAchievement {
    transition: 0.3s;
    background-color: rgba(140, 63, 201, 0.6);
}

.cardCupColor {
    background-color: rgb(255,215,0, 0.8);
}

.cardAchi:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

.cup {
    display: flex;
  justify-content: center;
}
.opacidadTituloModulos {
    color: rgba(33, 35, 83, 0.8);
}

.blockedAchievement {
    filter: brightness(60%);
    background-image: url(../../assets/img/lock.svg);
    background-repeat: no-repeat;
    background-position: 95% 5px;
}